# Ocultar dependencias y carpetas de build
node_modules/
release/
dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de entorno (si usas .env en el futuro)
.env

# rchivo github release
*.zip
GITHUB_RELEASE_TEMPLATE.txt
